@page "/"

<h4>This is the ward system</h4>
<p>The ward system is a working in progress. It should be used with caution. </p>
<p>The system is currently in its <strong>alpha</strong> stage. Below you can check the changelog</p>
<h4>Changelog</h4>
<div><strong>2025.12.29 - </strong> System was uploaded and is available for usage. </div>

@code {

}
